@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lexend-regular.woff2') format('woff2'), 
         url('/fonts/lexend-regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/lexend-medium.woff2') format('woff2'),
         url('/fonts/lexend-medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/lexend-medium.woff2') format('woff2'),
         url('/fonts/lexend-medium.woff') format('woff');
  }
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lexend-medium.woff2') format('woff2'),
         url('/fonts/lexend-medium.woff') format('woff');
  }
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/lexend-medium.woff2') format('woff2'),
         url('/fonts/lexend-medium.woff') format('woff');
  }
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/lexend-medium.woff2') format('woff2'),
         url('/fonts/lexend-medium.woff') format('woff');
  }
  
  @font-face {
     font-family: 'Heebo';
     src: url('/fonts/Heebo-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
   }

  
 