@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
.heebo700 {
    font-size: 33px;
    font-family: 'Heebo', sans-serif;
 

    color: #000;
 
 
font-size: 20px;
 font-weight: bold;

 
  }

.testt {
 
    font-family: 'Montserrat', sans-serif;
    /* rest css code also here */
    }